<div>
  <div class="row control-box">
    <div class="col-lg-8">
      <div class="form-group search-box">
        <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'eventConditions.management.Search' | translate}}">></search-box>
      </div>
    </div>
    <div class="col-lg-4 pr-lg-5">
      <ul class="nav flex-column flex-lg-row justify-content-end">
        <li *ngIf="viewModelState != states.New && canManageEvents" class="nav-item toolbaritem">
          <a class="nav-link" href="javascript:;" (click)="newEventCondition()">
            <i class="fa fa-plus-circle"></i> {{'eventConditions.management.NewEventCondition' | translate}}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <ngx-datatable #dataTable class="material colored-header sm table table-striped table-hover"
                 [loadingIndicator]="loadingIndicator"
                 [rows]="rows"
                 [headerHeight]="35"
                 [footerHeight]="35"
                 [columns]="columns"
                 [rowHeight]="'auto'"
                 [columnMode]="'standard'"
                 [limit]='3'>
  </ngx-datatable>

  <ng-template #idTemplate let-value="value">
    <strong>{{value > 0 ? value : ""}}</strong>
  </ng-template>

  <ng-template #dataPointTemplate let-row="row" let-value="value">
    <select *ngIf="viewModelState == states.New || row.eventConditionId == rowCache?.eventConditionId" [(ngModel)]="row.dataPointId">
      <option *ngFor="let dataPoint of dataPoints" [value]="dataPoint.dataPointId">{{dataPoint.name}}</option>
    </select>
    <div *ngIf="viewModelState != states.New && row.eventConditionId != rowCache?.eventConditionId">{{getDataPointName(value)}}</div>
  </ng-template>

  <ng-template #operatorTemplate let-row="row" let-value="value">
    <select *ngIf="viewModelState == states.New || row.eventConditionId == rowCache?.eventConditionId" [(ngModel)]="row.operator">
      <option *ngFor="let operatorKey of operatorKeys" [ngValue]="operatorKey" [label]="operators[operatorKey]"></option>
    </select>
    <div *ngIf="viewModelState != states.New && row.eventConditionId != rowCache?.eventConditionId">{{operators[value]}}</div>
  </ng-template>

  <ng-template #valueTemplate let-row="row" let-value="value">
    <input *ngIf="viewModelState == states.New || row.eventConditionId == rowCache?.eventConditionId" type="text" placeholder="Enter value" [(ngModel)]="row.value" />
    <div *ngIf="viewModelState != states.New && row.eventConditionId != rowCache?.eventConditionId">{{value}}</div>
  </ng-template>

  <ng-template #actionsTemplate let-row="row">
    <div *ngIf="viewModelState == states.View && editId == 0">
      <a class="btn btn-link btn-sm" href="javascript:;" (click)="editEventCondition(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'eventConditions.management.Edit' | translate}}</a>|
      <a class="btn btn-link btn-sm" href="javascript:;" (click)="deleteEventCondition(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'eventConditions.management.Delete' | translate}}</a>
    </div>
    <div *ngIf="(viewModelState == states.New && row.eventConditionId == 0) || row.eventConditionId == editId">
      <a class="btn btn-link btn-sm" href="javascript:;" (click)="saveEventCondition(row)"><i class="fa fa-save" aria-hidden="true"></i> {{'eventConditions.management.Save' | translate}}</a>|
      <a class="btn btn-link btn-sm" href="javascript:;" (click)="cancelEventCondition(row)"><i class="fa fa-times" aria-hidden="true"></i> {{'eventConditions.management.Cancel' | translate}}</a>
    </div>
  </ng-template>
</div>
