.event-conditions {
  font-size: 0.8em !important;
  margin-right: 1px;
}

.control-box {
  margin-bottom: 5px;
}

.search-box {
  margin: 0;
}

.nav-item.toolbaritem a {
  padding-top: 3px;
  padding-bottom: 3px;
  min-width: 100px;
}

.datatable-body-cell {
  overflow-y: visible !important;
  overflow-x: visible !important;
}

.ngx-datatable {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
