<div>
  <form *ngIf="formResetToggle" [attr.autocomplete]="'NaN'" name="eventForm" #form="ngForm" novalidate
        (ngSubmit)="form.form.valid ? save() :
          (!name.valid && showErrorAlert('Name is required', 'Please enter a name (minimum of 2 and maximum of 200 characters)'));
          (!actionDevice.valid && showErrorAlert('Action Device is required', 'Please select an Action Device'));
          (!state.valid && showErrorAlert('State is required', 'Please select a State'));
          (!eventConditions.valid && showErrorAlert('Event Conditions has required data', 'Please provide the required data'));
        ">

    <!-- IsEnabled -->
    <div class="form-group row">
      <label [class.col-lg-3]="!isEditMode" [class.col-lg-2]="isEditMode" class="col-form-label" for="isEnabled-{{uniqueId}}">{{'events.editor.IsEnabled' | translate}}</label>
      <div *ngIf="!isEditMode" class="col-lg-9">
        <p class="form-control-plaintext">{{event.isEnabled}}</p>
      </div>
      <div *ngIf="isEditMode" class="col-lg-1">
        <input autofocus type="checkbox" attr.id="isEnabled-{{uniqueId}}" name="isEnabled" class="form-control" [(ngModel)]="event.isEnabled" #isEnabled="ngModel" />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- Name -->
    <div class="form-group row">
      <label [class.col-lg-3]="!isEditMode" [class.col-lg-2]="isEditMode" class="col-form-label" for="name-{{uniqueId}}">{{'events.editor.Name' | translate}}</label>
      <div *ngIf="!isEditMode" class="col-lg-9">
        <p class="form-control-plaintext">{{event.name}}</p>
      </div>
      <div *ngIf="isEditMode" class="col-lg-10">
        <input autofocus type="text" attr.id="name-{{uniqueId}}" name="name" placeholder="Enter name" class="form-control"
               [ngClass]="{'is-valid': form.submitted && name.valid, 'is-invalid' : form.submitted && !name.valid}" [(ngModel)]="event.name"
               #name="ngModel" required minlength="2" maxlength="200" />
        <i *ngIf="showValidationErrors && form.submitted" class="fa form-control-feedback" [ngClass]="{'fa-check': name.valid, 'fa-times' : !name.valid}" aria-hidden="true"></i>
        <span *ngIf="showValidationErrors && form.submitted && !name.valid" class="invalid-feedback">
          {{'events.editor.NameRequired' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- Action Device -->
    <div class="form-group row has-feedback-icon">
      <label [class.col-lg-3]="!isEditMode" [class.col-lg-2]="isEditMode" class="col-form-label" for="actionDevice-{{uniqueId}}">{{'events.editor.ActionDevice' | translate}}</label>
      <div *ngIf="!isEditMode" class="col-lg-9">
        <p class="form-control-plaintext">{{event.actionDeviceId}}</p>
      </div>
      <div *ngIf="isEditMode" [ngClass]="{'is-valid': form.submitted && actionDevice.valid, 'is-invalid' : form.submitted && !actionDevice.valid}" class="col-lg-10">
        <select attr.id="actionDevice-{{uniqueId}}" name="actionDevice" [(ngModel)]="event.actionDeviceId" #actionDevice="ngModel"  #actionDeviceSelector="bootstrap-select"
                class="selectpicker form-control left-status" bootstrapSelect required data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="Select Action Device">
          <option *ngFor="let device of actionDevices" attr.data-content="{{device.name}}" attr.value="{{device.actionDeviceId}}">
            {{device.name}}
          </option>
        </select>
        <i *ngIf="showValidationErrors && form.submitted" class="fa form-control-feedback" [ngClass]="{'fa-check': actionDevice.valid, 'fa-times' : !actionDevice.valid}" aria-hidden="true"></i>
        <span *ngIf="showValidationErrors && form.submitted && !actionDevice.valid" class="invalid-feedback">
          {{'events.editor.ActionDeviceRequired' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- State -->
    <div class="form-group row has-feedback-icon">
      <label [class.col-lg-3]="!isEditMode" [class.col-lg-2]="isEditMode" class="col-form-label" for="state-{{uniqueId}}">{{'events.editor.State' | translate}}</label>
      <div *ngIf="!isEditMode" class="col-lg-9">
        <p class="form-control-plaintext">{{event.state}}</p>
      </div>
      <div *ngIf="isEditMode" [ngClass]="{'is-valid': form.submitted && state.valid, 'is-invalid' : form.submitted && !state.valid}" class="col-lg-10">
        <select attr.id="state-{{uniqueId}}" name="state" [(ngModel)]="event.state" #state="ngModel" #stateSelector="bootstrap-select"
            class="selectpicker form-control left-status" bootstrapSelect required data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="Select State">
          <option *ngFor="let stateKey of stateKeys" attr.data-content="{{states[stateKey]}}" attr.value="{{stateKey}}">
            {{states[stateKey]}}
          </option>
        </select>
        <i *ngIf="showValidationErrors && form.submitted" class="fa form-control-feedback" [ngClass]="{'fa-check': state.valid, 'fa-times' : !state.valid}" aria-hidden="true"></i>
        <span *ngIf="showValidationErrors && form.submitted && !state.valid" class="invalid-feedback">
          {{'events.editor.StateRequired' | translate}}
        </span>
      </div>
    </div>

    <div *ngIf="isEditMode" class="row">
      <div class="col-lg-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- Event Conditions -->
    <div class="form-group row has-feedback-icon">
      <label [class.col-lg-3]="!isEditMode" [class.col-lg-2]="isEditMode" class="col-form-label" for="eventconditions-{{uniqueId}}">{{'events.editor.EventConditions' | translate}}</label>
      <div *ngIf="!isEditMode" class="col-lg-9">
        <ul>
          <li *ngFor="let condition of event.eventConditions">
            <span class="event-conditions badge badge-pill badge-secondary">{{condition.dataPoint.caption}} {{eventService.getOperatorSymbol(condition.operator)}} '{{condition.value}}'</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group row has-feedback-icon">
      <div *ngIf="isEditMode" class="col-lg-12">
        <event-conditions-management name="eventConditions" [dataPoints]="dataPoints" [form]="form" [showValidationErrors]="showValidationErrors" #eventConditions required></event-conditions-management>
      </div>
    </div>

    <div *ngIf="isEditMode" class="row">
      <div class="col-lg-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <div ngPreserveWhitespaces class="float-right">
          <button *ngIf="!isEditMode" type="button" (click)="close()" class="btn btn-outline-secondary"><i class='fa fa-close'></i> {{'events.editor.Close' | translate}}</button>
          <button *ngIf="isEditMode" type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'events.editor.Cancel' | translate}}</button>
          <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving">
            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('events.editor.Saving' | translate) : ('events.editor.Save' | translate)}}
          </button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
